/* General Styles */
body {
    margin: 0;
    padding: 0;
    padding-bottom: 80px; /* Adjust as needed based on footer height */
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    background-color: #f9f9f9; /* Added background color */
}

*, *::before, *::after {
    box-sizing: inherit;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
}

.logo img {
    height: 50px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    transition: color 0.3s ease;
}

nav ul li,
nav ul li a:hover {
    color: #ffd700; /* Change color on hover and when active */
}

/* Hero Section */
.hero {
    height: 100vh;
    background: url('Images/background.jpg') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    padding-top: 70px; /* Added padding to ensure content does not overlap header */
}

.hero-text {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 5px;
}

.hero-text h1 {
    font-size: 3em;
    margin: 0;
}

.hero-text p {
    font-size: 1.2em;
    margin: 10px 0;
}

/* Contact Section */
.contact {
    padding: 50px 20px;
    text-align: center;
}

.contact form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.contact form input,
.contact form select,
.contact form textarea,
.contact form button {
    display: block;
    width: calc(100% - 20px);
    margin: 10px auto;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact form button {
    background-color: #ffd700;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact form button:hover {
    background-color: #ffc107;
}

/* Products Section */
.products {
    padding: 50px 20px;
    text-align: center;
    background-color: #f9f9f9;
}

.products h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center; /* Center the grid */
}

.product-item {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}

.product-item img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
    border-radius: 8px;
}

.product-item h3 {
    font-size: 1.2em;
    margin: 10px 0;
}

.product-item p {
    font-size: 1em;
    color: #888;
}

/* About Section */
.about-hero {
    height: 80vh; /* Adjust height as needed */
    background: url('Images/background.png') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    padding-top: 70px; /* Added padding to ensure content does not overlap header */
}

.about {
    padding: 50px 20px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 20px;
}

.about h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.about p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #555;
    margin-bottom: 20px;
}

/* Socials Section */
.socials {
    padding: 50px 20px;
    text-align: center;
    background-color: #f9f9f9;
}

.socials h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.socials ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.socials ul li {
    margin: 0;
}

.socials ul li a {
    font-size: 1.2em;
    color: #333;
    transition: color 0.3s ease;
}

.socials ul li a:hover {
    color: #ffd700;
}

/* General styling for terms and conditions */
.terms-content {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.terms-content h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
}

.terms-section {
    margin-bottom: 30px;
}

.terms-section h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.terms-section p {
    margin-bottom: 10px;
}

.terms-section ul {
    margin-bottom: 10px;
}

.cookie-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cookie-button:hover {
    background-color: #0056b3;
}


/* Footer */
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: white;
    clear: both; /* Ensures footer clears both floated and non-floated elements */
}

footer p {
    margin: 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    header {
        padding: 10px;
    }

    .hero-text {
        padding: 10px;
    }

    .contact form {
        width: 90%;
    }

    .product-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .about-hero {
        height: 50vh; /* Adjusted for smaller screens */
    }
}

/* Back to Top Button */
#back-to-top-btn {
    display: none;
    position: fixed;
    bottom: 80px;
    right: 20px;
    background-color: #ffd700;
    color: black;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px; /* Adjusted padding for smaller size */
    border-radius: 50%; /* Make it a circle */
    font-size: 1.2em; /* Adjusted font size */
    z-index: 1000;
    transition: background-color 0.3s ease;
}

#back-to-top-btn:hover {
    background-color: #555;
}

#back-to-top-btn::before {
    content: '\25B2'; /* Unicode for up arrow */
    font-size: 0.8em; /* Adjusted smaller size for the arrow */
}

/* Category Section */
.categories {
    padding: 50px 20px;
    text-align: center;
    background-color: #f9f9f9;
}

.categories h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
}

.category-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.category-item {
    text-decoration: none;
    color: #333;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.category-item img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.category-item:hover img {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.category-item h3 {
    margin-top: 15px;
    font-size: 1.2em;
}

/* Responsive Design for Categories */
@media (max-width: 768px) {
    .category-item img {
        width: 100px;
        height: 100px;
    }

    .categories h2 {
        font-size: 2em;
    }
}

/* Contact Us Button */
#contact-us-btn {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ffd700;
    color: rgb(0, 0, 0);
    padding: 10px 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    border-radius: 0 5px 5px 0;
    z-index: 1000;
}

#contact-us-btn span {
    display: inline-block;
    transform: rotate(180deg);
}

/* Contact Us Slide-Out Form */
#contact-us-slideout {
    position: fixed;
    top: 0;
    left: -100%;
    width: 400px;
    height: 100%;
    background-color: white;
    box-shadow: 2px 0 5px rgba(0,0,0,0.5);
    transition: left 0.3s ease-in-out;
    z-index: 999;
}

#contact-us-slideout iframe {
    width: 100%;
    height: 100%;
}

/* Open state for the slide-out */
#contact-us-slideout.open {
    left: 0;
}

#cookieConsent {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    padding: 1em;
    z-index: 1000;
}

#cookieConsent p {
    margin: 0;
    padding-right: 10px;
    display: inline;
}

#cookieConsent button {
    background-color: #ffd700;
    color: black;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
}

#cookieConsent button#declineCookies {
    background-color: #fff;
}

.testimonials {
    text-align: center;
    background-color: #ebebeb;
    padding-bottom: 10px;
    padding-top: 10px;
}

/* Updated Testimonial Styles */
.testimonial-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.testimonial {
    background: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    text-align: center;
}

.testimonial-content {
    margin-top: 20px;
}

.testimonial p {
    font-size: 1em;
    color: #555;
    margin-bottom: 10px;
}

.testimonial h3 {
    font-size: 1.2em;
    color: #333;
}

.testimonial-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px solid #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    object-fit: cover;
}

.write-review {
    text-align: center;
    margin-top: 20px;
}

.write-review .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.write-review .btn:hover {
    background-color: #ffd700;
    color: #000;
}
